* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #464242;
    color: #e0dd10;
    padding: 8px;
    text-align: center;
}

form {
    background-color: #999696;
    padding: 10px 0;
}

form input {
    margin-bottom: 8px;
    padding: 5px 5px;
    align-items: center;
    
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formulario {
    display: block;
    text-align: center;
}

.input {
    width: 300px;
    max-width: 100%;
    display: block;
    margin: 0 auto;  
}

#submit-btn {
    padding: 5px 12px;
    background-color: #e0dd10 ;
    border: none;
    font-weight: bold;
}

